<div class="alecs-bike-blog">
	<app-nav-bar></app-nav-bar>
	<div class="main-content">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5555792342697537"
				crossorigin="anonymous"></script>
		<!-- Bike Blog Side -->
		<ins class="adsbygoogle"
				style="display:block"
				data-ad-client="ca-pub-5555792342697537"
				data-ad-slot="3181437817"
				data-ad-format="auto"
				data-full-width-responsive="true"></ins>
		<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		<div class="main-content">
			<router-outlet class="outlet"></router-outlet>
		</div>
		
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5555792342697537"
				crossorigin="anonymous"></script>
		<!-- Bike Blog Side -->
		<ins class="adsbygoogle"
				style="display:block"
				data-ad-client="ca-pub-5555792342697537"
				data-ad-slot="3181437817"
				data-ad-format="auto"
				data-full-width-responsive="true"></ins>
		<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>