.nav-bar {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	.left-side {
		margin: auto;
	}
	.right-side {
		margin: auto;
	}
	.middle {
		margin: auto;
		img {
			height: 100px;
		}
	}
	.sub-nav {
		color: black;
		text-decoration: none;
	}
}