<div class="tools abb-page">
	<div class="title">
		Alec's Tools
	</div>
	<div class="subtitle">
		These are some tools that I've built to help with building/maintaining/fixing bikes.  I hope they help!
	</div>

	<div class="tool-list">
		<div class="tool" [routerLink]="['/tools/bike-builder']">
			<div class="tool-title">
				Bike Builder
			</div>
			<div class="tool-description">
				If you want to build your bike from scratch, this is your best friend.  It will walk you through step by step the pieces that you need and check compatability.
			</div>
		</div>
		<div class="tool" [routerLink]="['/tools/component-checker']">
			<div class="tool-title">
				Component Checker
			</div>
			<div class="tool-description">
				Let's say you broke a component and don't know what to buy to replace it.  This is the tool to help you pick the component that will match your current bike.
			</div>
		</div>
	</div>
</div>