.blog-main {
	display: flex;
	flex-direction: column;
	gap: 10px;
	.post {
		cursor: pointer;
		display: flex;
		width: 500px;
		img {
			max-height: 100px;
			margin-right: 20px;
		}
		.content {
			margin-top: auto;
			margin-bottom: auto;
		}
		.title {
			font-weight: bold;
			font-size: 20px;
		}
		.sub-title {

		}
	}
}
footer {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}