<div class="blog-main">
	<div class="strava-feed">
		<iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/21524132/latest-rides/810985ffb4b3c6206a9cc3271eabbe91ea505169'></iframe>
	</div>
	<div class="posts">
		<div class="post" *ngFor="let post of posts; let i=index" (click)="goToPost(post.id)">
			<div class="photo-wrapper">
				<img *ngIf="blogPhotos[i]" src="{{blogPhotos[i]?.url}}">
			</div>
			<div class="content-wrapper">
				<div class="content">
					<div>
						<div class="title">{{post.title}}</div>
					</div>
					<div>
						<div class="sub-title">{{post.subTitle}}</div>
					</div>
					<div>
						<div class="date">{{ post.date | date: "M/d/YYYY"}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="strava-stats">
		<iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/21524132/activity-summary/810985ffb4b3c6206a9cc3271eabbe91ea505169'></iframe>
	</div> -->
</div>
<footer> <small>&copy; Copyright {{currentYear}}, Alec Crestani</small> <a style="display:inline-block;background-color:#FC5200;color:#fff;padding:5px 10px 5px 30px;font-size:11px;font-family:Helvetica, Arial, sans-serif;white-space:nowrap;text-decoration:none;background-repeat:no-repeat;background-position:10px center;border-radius:3px;background-image:url('https://badges.strava.com/logo-strava-echelon.png')" href='https://strava.com/athletes/21524132' target="_clean">
	Follow me on
	<img src='https://badges.strava.com/logo-strava.png' alt='Strava' style='margin-left:2px;vertical-align:text-bottom' height=13 width=51 /></a> </footer>