.blog-main {
	display: flex;
	text-align: center;
	gap: 10px;
	.posts {
		display: flex;
		gap: 10px;
		flex-direction: column;
		.post {
			justify-content: center;
			cursor: pointer;
			display: flex;
			width: 500px;
			.photo-wrapper {
				height: 110px;
				width: 150px;
				display: flex;
				margin-right: 20px;
				img {
					margin: auto;
					max-height: 100px;
					max-width: 140px;
				}
			}
			.content-wrapper {
				flex-grow: 1;
				display: flex;
				.content {
					margin: auto;
				}
				.title {
					font-weight: bold;
					font-size: 20px;
				}
				.sub-title {
					font-style: italic;
				}
			}
		}
	}
	.strava-feed {
		display: flex;
		flex-direction: column;
	}
	.strava-stats {
		display: flex;
		flex-direction: column;
	}
}
footer {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}