.blog-main {
	display: flex;
	text-align: center;
	gap: 10px;
	.posts {
		display: flex;
		gap: 10px;
		flex-direction: column;
		.post {
			justify-content: center;
			cursor: pointer;
			display: flex;
			width: 500px;
			img {
				max-height: 100px;
				margin-right: 20px;
			}
			.content {
				margin-top: auto;
				margin-bottom: auto;
			}
			.title {
				font-weight: bold;
				font-size: 20px;
			}
			.sub-title {
	
			}
		}
	}
	.strava-feed {
		display: flex;
		flex-direction: column;
	}
	.strava-stats {
		display: flex;
		flex-direction: column;
	}
}
footer {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}