
<div class="file-uploader">
    <div class="content-box">
        <div>
			<div>
				Title
			</div>
            <input type="text" [(ngModel)]="title">
			<div>
				Description
			</div>
            <input type="text" [(ngModel)]="description">
            <input type="file" (change)="upload($event)" accept="*.png.jpg.jpeg" id="">
        </div>
        <div>
            <button [disabled]="!filename" (click)="uploadImage()">Upload Image</button>
        </div>
    </div>
</div>
<app-loading *ngIf="uploading" [loadingText]="'Uploading...'"></app-loading>